{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap.min.css' %}">

</head>
<body>
    <h1>Añadir película</h1>

    <form method="post">
        <input type="text" name="title">
        <input type="text" name="actors">
        <button type="submit">Enviar</button>
    </form>
    <!-- Bootstrap JavaScript-->
    <script src="{% static '/vendor/jquery.slim.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap.bundle.min.js' %}"></script>    
</body>
</html>