{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de películas</title>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap.min.css' %}">
</head>
<body>

    <main class="container my-4">

        <h1>Listado de películas</h1>

        <div class="mt-4">
            <a class="btn btn-primary" href="/create">Añadir película</a>
        </div>

        <div class="mt-4">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Actores</th>
                    <th>Duración</th>
                    <th>Fecha de lanzamiento</th>
                    <th>Género</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                <tr>
                  <th scope="row">{{ movie.pk }}</th>
                  <td>{{ movie.title }}</td>
                  <td>{{ movie.actors }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="button-group">
                        <a href="{{ movie.pk }}/update" class="btn btn-primary">Actualizar</a>
                        <a href="{{ movie.pk }}/delete" class="btn btn-danger">Eliminar</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </main>

    <!-- Bootstrap JavaScript-->
    <script src="{% static '/vendor/jquery.slim.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap.bundle.min.js' %}"></script>    
</body>
</html>