{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de películas</title>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap.min.css' %}">
</head>
<body>

    <main class="container my-4">

        <h1>Listado de películas</h1>

        <div>
            <a href="/create">Añadir película</a>
        </div>

        <div>
            <ul>
                {% for movie in movies %}
                <li>
                    <h3>{{ movie.title }}</h3>
                    <p><b>Actores:</b> {{ movie.actors }}</p>
                    <p><b>Género:</b> {{ movie.get_genre_display }}</p>
                    <p>
                        <a href="/{{movie.pk}}">Ver detalle</a>
                        <a href="/{{movie.pk}}/delete">Eliminar</a>
                    </p>
                </li>
                {% empty %}
                <li>No hay películas que mostrar. <a href="/create">Añadir película</a></li>
                {% endfor %}
            </ul>
        </div>

    </main>

    <!-- Bootstrap JavaScript-->
    <script src="{% static '/vendor/jquery.slim.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap.bundle.min.js' %}"></script>    
</body>
</html>